:host {
    display: flex;
    position: relative;
    overflow: hidden;

    ::slotted(.swipe-item) {
        flex-grow: 1;
        touch-action: none;
        min-width: 0;
    }

    ::slotted(.swipe-item--virtual) {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    ::slotted(.swipe-item--active) {
        position: relative;
        z-index: 1;
    }

    ::slotted(.swipe-item--hide) {
        display: none !important;
    }
}


