:host {
  display: flex;
  font-family: var(--ns-grid-font-family);
  font-size: var(--ns-grid-font-size);
}

:host .grid {
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  border-spacing: 0;
  overflow-y: auto;
  // Предотвращаем привязку прокрутки, т.к. это вызывает зацикливание события scroll после изменения высоты верхнего заполнителя
  overflow-anchor: none;
}

:host .grid-body {
  overflow: hidden;
}

:host .grid-row {
  display: flex;
  flex-grow: 1;
}

:host .grid-row:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
}

:host .grid-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;
  box-sizing: border-box;
}
