:host {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 0;
  position: relative;
  padding: 8px;
  box-sizing: border-box;
}

// TODO стоит ли завязываться на имя тэга?
:host ns-grid-filter {
  margin-left: 4px;
}

:host .grid-head-cell-slot {
  flex-grow: 1;
}
