body {
  --ns-grid-font-family: 'Roboto', sans-serif;
  --ns-grid-font-size: 14px;
  --ns-grid-color-no-active: #ced2d6;
  --ns-grid-color-no-active-accent: #bfc3c7;
  --ns-grid-color-active: #2196f3;
  --ns-grid-color-active-accent: #1063a3;
}
